{% macro top(title, home='index.html', 
             sites=({'title' : 'Login', 'href' : None, 'active' : False},)) %}
  <!-- navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              title="Expand navigation menu" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a href="/">
        <img class="pull-left navbar-icon" src="/resources/images/icon.png" width="34" alt="Dreamteam Logo">
      </a>-->
      <!-- couldn't figure out how to override this text colour in css -->
      <a style="color: #555" class="navbar-brand" href="{{ url_for('index') }}">{{ title }}</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% for link in sites %}
        {% if link.active %}
          <li class="active">
        {% else %}
          <li>
        {% endif %}
        
        {% if link.href is none %}
          {% set href = url_for('login') %}
        {% else %}
          {% set href = link.href %}
        {% endif %}
          <a href="{{ href }}">{{ link.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <!-- navbar end -->
{% endmacro %}
