{% extends "layout.html" %}
{% block title %}NoVAFur Crossposter{% endblock %}
{% import 'navbar-admin.html' as navbar %}
{% block body %}
  <div class="container">
    {{ navbar.top('NoVAFur Crossposter', user=session.user) }}    
    <div class="well opaque">

      {% with errors = get_flashed_messages(category_filter=["error"]) -%}
        {% if errors %}
          {%- for msg in errors %}
            <div class="alert alert-danger text-center">
              <strong>Error: </strong> {{ msg }}
            </div>
          {% endfor -%}
        {% endif %}
      {%- endwith %}
      
      {% with errors = get_flashed_messages(category_filter=["success"]) -%}
        {% if errors %}
          {%- for msg in errors %}
            <div class="alert alert-success text-center">
              {{ msg }}
            </div>
          {% endfor -%}
        {% endif %}
      {%- endwith %}
      
      <div id="editor">
        <textarea v-model="input"></textarea>
        <div v-html="input | marked"></div>
      </div>
      
    </div>
  </div>
  
  <script type="text/javascript" src="{{ url_for('static', filename='js/marked.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
  <script>
    init_editor();
  </script>
{% endblock %}
